/* ----------------------------------
	About Us Section Styles
 ------------------------------------ */

.about_wrapper{
	background-attachment: fixed;
	.single_about_item_left{

	}
	.single_about_item_right{
		.single_about_item_title{
			h2{
				color: $primary;
				font-size: 59px;
				line-height: 1em;
				font-weight: 600;
				letter-spacing: normal;
				margin: 20px 0px;
				@media (max-width:768px) {
					font-size: 33px;
				}
				@media (max-width:508px) {
					font-size: 28px;
				}
				span{
					color: $secondary;
					font-weight: 700;
				}
			}
		}
	}
}