/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd {
    line-height: 1;
    display: inline-block;
    @include transition(.4s);
    text-transform: uppercase;
}

.theme-btn {
    color: $white;
    @extend .btnd;    
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 16px;
    background-color: $primary;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    &::after{
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        content: '';
        background-color: $secondary;
        position: absolute;
        transition: all 0.4s ease-in-out !important;
    }

    @media (max-width: 767px) {
        padding: 17px 30px;
        font-size: 13px;
    }

    @media (max-width: 580px) {
        padding: 16px 26px;
    }

    @media (max-width: 480px) {
        padding: 15px 25px;
    }

    i {
        margin-left: 10px;
    }

    &:hover {
        color: $white;
        &::after{
            width:0% !important;
        }
    }
    
}
