header {
    z-index: 9999;
    padding: 5px 50px;
    @media (max-width:996px) {
        padding: 5px 30px;
    }
    @media (max-width:768px) {
        padding: 5px 15px;
    }
    .head_right_widget{
        @media (max-width:1470px ){
            display: none;
        }
    }
    background-color: #fff;
    .logo {
        width: auto;
        height: auto;
        a{
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width:470px) {
                gap: 10px;
            }
            img{
                width: 100px;
                height: auto;
            }
            .content{
                position: relative;
                @media (max-width:768px) {
                    h5{
                        font-size: 20px !important;
                    }
                    p{
                        font-size: 8px !important;
                    }
                    h6{
                        font-size: 14px !important;
                    }
                }
                @media (max-width:470px) {
                    h5{
                        font-size: 17px !important;
                    }
                    p{
                        font-size: 8px !important;
                    }
                    h6{
                        font-size: 10px !important;
                    }
                }
                @media (max-width:387px) {
                    display: none;
                }
                h5{
                    font-size: 30px;
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    color: $white;
                    background-color: #DA1D26;
                    padding: 7px 7px 12px 7px;
                    border-radius: 6px;
                    font-weight: 500;
                }
                p{
                    font-size: 10px;
                    font-weight: bold;
                    color: $white;
                    margin: -8px 5px 0px 5px;
                    border: 1px solid #DA1D26;
                    padding: 0px 5px;
                    border-radius: 4px;
                    background-color: #12264A;
                }
                h6{
                    color: #12264A;
                    font-size: 17px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
    .main-menu {     
        @media (max-width:1350px ){
            display: none;
        }               
        ul {
            line-height: 1;                   
            > li {
                display: inline-block;
                line-height: 1;
                padding: 10px 10px;
                @media (max-width:1210px) {
                    padding: 25px 10px;
                }
                > a {
                    padding: 5px 0px;
                    position: relative;
                    display: inline-block;
                    font-size: 18px;
                    text-transform: capitalize;
                    line-height: 1;
                    overflow: hidden;
                    color: $black;
                    i {
                        margin-left: 5px;
                    }
                }
                > ul {
                    position: absolute;
                    top: 100%;
                    width: 200px;
                    background-color: $white;
                    left: 0;
                    z-index: 999;
                    box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(40px);
                    transition: all .5s ease-in-out;
                    padding: 10px 0px;
                    
                    li {
                        display: block;
                        a { 
                            display: block;                              
                            color: #252525;
                            padding: 12px 25px;
                            
                            &:hover {
                                
                            }
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
                &:last-child{
                    margin-right: 40px;
                    @media (max-width:1210px) {
                        margin-right: 10px;
                    }
                }

                &.active {
                    a{
                        color: $secondary !important;
                    }
                }
                
                &:hover {
                    > a {
                        color: $secondary;
                    }
                    > ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    .top_right{
        display: flex;
        align-items: center;
        gap: 20px;
        .icon{
            img{
                width: 40px;
                height: auto;
                object-fit: cover;
            }
        }
        .content{
            h5{
                color: $black;
                margin-bottom: 0;
                font-size: 22px;
                font-weight: 400px;
            }
        }
    }
    .theme-btn {
        @media (max-width: 1199px) {
            padding: 0.8em 1.336em;
            font-size: 15px;
        }
    } 
    
    #hamburger {
        @media (max-width: 991px) {
            color: $theme-color;
        }
    }
}
    
.offcanvas-overlay{
    color: #ffffff;
    width: 100%;
    height: 75px;
    @media (max-width: 1000px) {
        height: 55px;
    }
}

.mobile-nav {
    position: fixed;
    right: -380px;
    opacity: 0;
    visibility: hidden;
    top: 0;
    width: 320px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: right .5s ease-in;
    background-color: $theme-color;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        transition: all .5s ease-in;
        right: 0%;
        display: block !important;
        opacity: 1;
        visibility: visible;
    }

    .close-nav {
      border: 0;
      background: transparent;
      color: #fff;
      border-radius: 30px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 10px;
    }

    /* Vertical Menu Style */
    .sidebar-nav {
        margin-top: 30px;
    }
    .sidebar-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent
    }
    .sidebar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu>li {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu a {
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all .3s ease-out;
        text-decoration: none;
        color: #fff;
        outline-width: 0;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sidebar-nav .metismenu ul a {
        padding: 10px 15px 10px 35px;
        position: relative;

        &:hover {
            padding-left: 40px;
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            position: absolute;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            content: "";
            top: 50%;
            transition: all .3s ease-in-out;
            transform: translateY(-50%);
        }
    }
    .sidebar-nav .metismenu ul ul {
        list-style-type: circle !important;
    }
    .sidebar-nav .metismenu ul ul a {
        padding: 10px 15px 10px 45px;        
    }
    .sidebar-nav .metismenu a:hover,
    .sidebar-nav .metismenu a:focus,
    .sidebar-nav .metismenu a:active {
        text-decoration: none;
        color: #f8f9fa;
        background: $theme-color;
    }

}

#hamburger {
    color: $primary;
    font-size: 36px;
    line-height: 1;
    text-align: right;
    margin-left: 15px;
    display: none;
    
    i {
        cursor: pointer;
    }

    @media (max-width: 1470px) {
        display: block;
    }
}

.mobile-nav-bar{
    display: none;
    @media (max-width: 1350px) {
    display: block !important;
    }
}