/*
Template: HVAC Repair, Generators, Fireplaces, Chimney Services - OHA
Author: RRDevs
Author URI: https://fixmyair.com/
Description:Cosmetic Dentistry Birmingham 
Version: 1.0
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,700&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Signika:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input::-webkit-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

::-moz-placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0px;
}

form {
  position: relative;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid #696969 !important;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

hr {
  margin: 0;
  padding: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  position: relative;
}

a,
button {
  position: relative;
}
a:hover, a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

input, textarea, button {
  border: 0px;
}

.container {
  width: 100%;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need
 -------------------------------------------------------------------- */
/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  margin: 0px;
  letter-spacing: normal;
  font-weight: 700;
  color: #ffffff;
}

h1 {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -3px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 508px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -3px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #FFF;
}

p {
  margin: 0px;
  color: #404040;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
}

.section-padding {
  padding: 100px 0px;
}
@media (max-width: 768px) {
  .section-padding {
    padding: 80px 0px;
  }
}
@media (max-width: 568px) {
  .section-padding {
    padding: 50px 0px;
  }
}

.section-top {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .section-top {
    padding-top: 80px;
  }
}
@media (max-width: 568px) {
  .section-top {
    padding-top: 50px;
  }
}

.section-bottom {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .section-bottom {
    padding-bottom: 80px;
  }
}
@media (max-width: 568px) {
  .section-bottom {
    padding-bottom: 50px;
  }
}

.section-title h2 {
  color: #12264a;
  font-size: 59px;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .section-title h2 {
    font-size: 28px;
  }
}
.section-title h4 {
  color: #f47629;
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .section-title h4 {
    font-size: 25px;
  }
}
@media (max-width: 508px) {
  .section-title h4 {
    font-size: 20px;
  }
}
.section-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
}

/* ----------------------------------
    Template Helps Classes - Styles
 ------------------------------------ */
/* padding left */
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

/* padding top */
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

/* padding bottom */
.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

/* margin left */
.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

/* margin right */
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

/* margin top */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

/* margin bottom */
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-center {
  background-position: center;
}

.bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: left;
}

.bg-right {
  background-repeat: no-repeat;
  background-position: right;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: left;
}

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom;
}

#scrollUp {
  background-color: #446A78;
  border-radius: 50%;
  bottom: 20px;
  color: #ffffff;
  font-size: 22px;
  height: 40px;
  line-height: 44px;
  right: 20px;
  text-align: center;
  width: 40px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
          box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#scrollUp:hover {
  background-color: #F9F9FB;
}

@media only screen and (max-width: 991px) {
  #scrollUp {
    font-size: 15px;
    height: 30px;
    line-height: 34px;
    right: 30px;
    width: 30px;
  }
}
button {
  border: none;
}

section {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes routet {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes routet {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ----------------------------------
  All Aniamtion Styles
 ------------------------------------ */
/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd, .theme-btn {
  line-height: 1;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.theme-btn {
  color: #FFF;
  padding: 15px 25px;
  border-radius: 6px;
  font-size: 16px;
  background-color: #12264a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.theme-btn::after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  content: "";
  background-color: #f47629;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}
@media (max-width: 767px) {
  .theme-btn {
    padding: 17px 30px;
    font-size: 13px;
  }
}
@media (max-width: 580px) {
  .theme-btn {
    padding: 16px 26px;
  }
}
@media (max-width: 480px) {
  .theme-btn {
    padding: 15px 25px;
  }
}
.theme-btn i {
  margin-left: 10px;
}
.theme-btn:hover {
  color: #FFF;
}
.theme-btn:hover::after {
  width: 0% !important;
}

/* ----------------------------------
    Template Section Styles
 ------------------------------------*/
header {
  z-index: 9999;
  padding: 5px 50px;
  background-color: #fff;
}
@media (max-width: 996px) {
  header {
    padding: 5px 30px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 5px 15px;
  }
}
@media (max-width: 1470px) {
  header .head_right_widget {
    display: none;
  }
}
header .logo {
  width: auto;
  height: auto;
}
header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .logo a img {
  width: 100px;
  height: 100px;
}
header .logo a .content {
  position: relative;
}
header .logo a .content h5 {
  font-size: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #DA1D26;
  padding: 7px 7px 12px 7px;
  border-radius: 6px;
  font-weight: 500;
}
header .logo a .content p {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  margin: -8px 5px 0px 5px;
  border: 1px solid #DA1D26;
  padding: 0px 5px;
  border-radius: 4px;
  background-color: #12264A;
}
header .logo a .content h6 {
  color: #12264A;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 1350px) {
  header .main-menu {
    display: none;
  }
}
header .main-menu ul {
  line-height: 1;
}
header .main-menu ul > li {
  display: inline-block;
  line-height: 1;
  padding: 10px 10px;
}
@media (max-width: 1210px) {
  header .main-menu ul > li {
    padding: 25px 10px;
  }
}
header .main-menu ul > li > a {
  padding: 5px 0px;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 1;
  overflow: hidden;
  color: #000;
}
header .main-menu ul > li > a i {
  margin-left: 5px;
}
header .main-menu ul > li:last-child {
  margin-right: 40px;
}
@media (max-width: 1210px) {
  header .main-menu ul > li:last-child {
    margin-right: 10px;
  }
}
header .main-menu ul > li:hover > a {
  color: #f47629;
}
header .top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .top_right .icon img {
  width: 40px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
header .top_right .content h5 {
  color: #000;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400px;
}
@media (max-width: 1199px) {
  header .theme-btn {
    padding: 0.8em 1.336em;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  header #hamburger {
    color: #446A78;
  }
}

.offcanvas-overlay {
  color: #ffffff;
  width: 100%;
  height: 75px;
}
@media (max-width: 1000px) {
  .offcanvas-overlay {
    height: 55px;
  }
}

.mobile-nav {
  position: fixed;
  right: -380px;
  opacity: 0;
  visibility: hidden;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
  background-color: #446A78;
  padding: 20px;
  z-index: 9999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  /* Vertical Menu Style */
}
.mobile-nav.show {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  right: 0%;
  display: block !important;
  opacity: 1;
  visibility: visible;
}
.mobile-nav .close-nav {
  border: 0;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.mobile-nav .sidebar-nav {
  margin-top: 30px;
}
.mobile-nav .sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}
.mobile-nav .sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #fff;
  outline-width: 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mobile-nav .sidebar-nav .metismenu ul a {
  padding: 10px 15px 10px 35px;
  position: relative;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover {
  padding-left: 40px;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover::before {
  background-color: #fff;
}
.mobile-nav .sidebar-nav .metismenu ul a::before {
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-nav .sidebar-nav .metismenu ul ul {
  list-style-type: circle !important;
}
.mobile-nav .sidebar-nav .metismenu ul ul a {
  padding: 10px 15px 10px 45px;
}
.mobile-nav .sidebar-nav .metismenu a:hover,
.mobile-nav .sidebar-nav .metismenu a:focus,
.mobile-nav .sidebar-nav .metismenu a:active {
  text-decoration: none;
  color: #f8f9fa;
  background: #446A78;
}

#hamburger {
  color: #12264a;
  font-size: 36px;
  line-height: 1;
  text-align: right;
  margin-left: 15px;
  display: none;
}
#hamburger i {
  cursor: pointer;
}
@media (max-width: 1470px) {
  #hamburger {
    display: block;
  }
}

.mobile-nav-bar {
  display: none;
}
@media (max-width: 1350px) {
  .mobile-nav-bar {
    display: block !important;
  }
}

/* ----------------------------------
	hero Section Styles
 ------------------------------------ */
.hero_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-position: left top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero_wrapper .hero-shape {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}
.hero_wrapper .hero-shape svg {
  fill: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner_title {
  padding: 130px 0px;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .banner_title {
    padding: 100px 0px;
  }
}
@media (max-width: 768px) {
  .banner_title {
    padding: 70px 0px;
  }
}
@media (max-width: 508px) {
  .banner_title {
    padding: 50px 0px;
  }
}
.banner_title h1 {
  color: #12264a;
  font-size: 59px;
  line-height: 1em;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .banner_title h1 {
    font-size: 40px;
  }
}
@media (max-width: 508px) {
  .banner_title h1 {
    font-size: 35px;
  }
}
.banner_title h2 {
  margin-top: 20px;
  color: #f47629;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
}
@media (max-width: 768px) {
  .banner_title h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .banner_title h2 {
    font-size: 28px;
  }
}
.banner_title a {
  margin-top: 40px;
  font-size: 30px;
}
.banner_title img {
  border-radius: 50%;
  max-width: 200px;
  float: right;
}
@media (max-width: 768px) {
  .banner_title img {
    width: 100%;
    display: block;
    float: none;
    argin: 0 auto;
    margin-top: 25px;
  }
}

/* ----------------------------------
	why_chose_us Section Styles
 ------------------------------------ */
.single_chose_us_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.single_chose_us_right .icon {
  width: 150px;
  height: auto;
  overflow: hidden;
}
.single_chose_us_right .icon img {
  width: 100%;
  height: 100%;
}
.single_chose_us_right .content h4 {
  color: #12264a;
  margin-bottom: 5px;
  font-size: 25px;
}
@media (max-width: 508px) {
  .single_chose_us_right .content h4 {
    font-size: 20px;
  }
}
.single_chose_us_right .content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4em;
}

/* ----------------------------------
    owned Section Styles
 ------------------------------------ */
.owned_wrapper {
  background-color: #e9e9e9;
}

.owned_widget {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  border-radius: 10px;
  padding: 40px;
  background-color: #f47629;
  -webkit-box-shadow: 10px 10px 10px 0px hsla(0deg, 0%, 0%, 0.502);
          box-shadow: 10px 10px 10px 0px hsla(0deg, 0%, 0%, 0.502);
}
@media (max-width: 768px) {
  .owned_widget {
    -webkit-transform: skew(0deg) !important;
            transform: skew(0deg) !important;
  }
}
.owned_widget .single_ownerd_left, .owned_widget .single_ownerd_right {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}
@media (max-width: 768px) {
  .owned_widget .single_ownerd_left, .owned_widget .single_ownerd_right {
    -webkit-transform: skew(0deg) !important;
            transform: skew(0deg) !important;
  }
}

.single_ownerd_right h2 {
  color: #12264a;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .single_ownerd_right h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .single_ownerd_right h2 {
    font-size: 28px;
  }
}
.single_ownerd_right p {
  text-align: left;
  color: #12264a;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5em;
}

/* ----------------------------------
    product Section Styles
 ------------------------------------ */
.product_wrapper {
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}
.product_wrapper:before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(18, 38, 74, 0.7);
  -webkit-transition: all all 0.3s ease ease-in-out;
  transition: all all 0.3s ease ease-in-out;
}
.product_wrapper .section-title h2 {
  margin-bottom: 10px;
  color: #FFF;
}
@media (max-width: 768px) {
  .product_wrapper .section-title h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .product_wrapper .section-title h2 {
    font-size: 28px;
  }
}
.product_wrapper .section-title h5 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
}
@media (max-width: 508px) {
  .product_wrapper .section-title h5 {
    font-size: 18px;
  }
}

.single_product {
  background-color: #FFF;
  padding: 10px 10px 30px 10px;
  border-radius: 6px;
}
.single_product .product_demo {
  width: auto;
  height: 225px;
  margin-bottom: 30px;
  overflow: hidden;
}
.single_product .product_demo img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.single_product h4 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.single_product:hover .product_demo img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.single_product:hover h4 {
  color: #f47629;
}

/* ----------------------------------
    product Section Styles
 ------------------------------------ */
.saying_wrapper {
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}
.saying_wrapper:before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(244, 118, 41, 0.7);
  -webkit-transition: all all 0.3s ease ease-in-out;
  transition: all all 0.3s ease ease-in-out;
}
.saying_wrapper .section-title span {
  position: relative;
}
.saying_wrapper .section-title span i {
  font-size: 30px;
  color: #12264a;
}
.saying_wrapper .section-title span::after {
  top: 10px;
  right: 50px;
  z-index: -1;
  width: 100px;
  height: 2px;
  background-color: #fff;
  content: "";
  position: absolute;
}
.saying_wrapper .section-title span::before {
  top: 10px;
  left: 50px;
  z-index: -1;
  width: 100px;
  height: 2px;
  background-color: #fff;
  content: "";
  position: absolute;
}
.saying_wrapper .single_saying_img {
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.saying_wrapper .single_saying_img img {
  width: 100%;
  height: 100%;
}
.saying_wrapper .single_review {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  padding: 30px;
}
.saying_wrapper .single_review .star i {
  font-size: 16px;
  color: #f47629;
  margin: 0px 2px;
}
.saying_wrapper .single_review p {
  margin: 20px 0px;
  font-size: 16px;
  color: #FFF;
}
.saying_wrapper .single_review .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.saying_wrapper .single_review .author .author_img {
  width: 60px;
  height: 60px;
  border-radius: 500px;
  overflow: hidden;
}
.saying_wrapper .single_review .author .author_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.saying_wrapper .single_review .author .author_name h4 {
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 0px !important;
}
.saying_wrapper .single_review .author .author_name small {
  color: #FFF;
  font-size: 14px;
}
.saying_wrapper .single_review:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* ----------------------------------
   our_process_wrapper Section Styles
 ------------------------------------ */
.single_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.single_item .icon_widget {
  padding-bottom: 30px;
  position: relative;
}
.single_item .icon_widget::before {
  position: absolute;
  left: 30px;
  top: 0;
  content: "";
  border: 1px dashed rgb(212, 212, 213);
  width: 1px;
  height: 100%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.single_item .icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 500px;
  background-color: #f47629;
}
.single_item .icon i {
  color: #FFF;
  font-size: 25px;
}
.single_item .content {
  padding-bottom: 30px;
}
.single_item .content h5 {
  font-size: 20px;
  color: #666666;
  letter-spacing: normal;
  font-weight: 500px;
  line-height: 32px;
}
.single_item:last-child .icon_widget::before {
  display: none !important;
}

/* ----------------------------------
	About Us Section Styles
 ------------------------------------ */
.about_wrapper {
  background-attachment: fixed;
}
.about_wrapper .single_about_item_right .single_about_item_title h2 {
  color: #12264a;
  font-size: 59px;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: normal;
  margin: 20px 0px;
}
@media (max-width: 768px) {
  .about_wrapper .single_about_item_right .single_about_item_title h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .about_wrapper .single_about_item_right .single_about_item_title h2 {
    font-size: 28px;
  }
}
.about_wrapper .single_about_item_right .single_about_item_title h2 span {
  color: #f47629;
  font-weight: 700;
}

/* ----------------------------------
	FunFact Section Styles
 ------------------------------------ */
.funfact_wrapper {
  z-index: 1;
  position: relative;
  background-attachment: fixed;
  background-position: left top;
}
.funfact_wrapper:before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all all 0.3s ease ease-in-out;
  transition: all all 0.3s ease ease-in-out;
}
.funfact_wrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 50px;
  font-weight: 600;
  line-height: 1em;
}
@media (max-width: 768px) {
  .funfact_wrapper h2 {
    font-size: 33px;
  }
}
@media (max-width: 508px) {
  .funfact_wrapper h2 {
    font-size: 28px;
  }
}

.funfact_widget {
  border: 2px solid #FFF;
  border-radius: 10px;
  padding: 30px;
}
.funfact_widget .single_funfact {
  border-radius: 6px;
  background-color: #12264a;
  padding: 50px;
}
.funfact_widget .single_funfact h5 {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}
.funfact_widget .single_funfact h2 {
  margin: 20px 0px;
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
}

.footer-wrap {
  background-color: #12264a;
}
.footer-wrap h1 {
  color: #FFF;
  font-size: 59px;
  line-height: 1em;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 768px) {
  .footer-wrap h1 {
    font-size: 40px;
  }
}
@media (max-width: 508px) {
  .footer-wrap h1 {
    font-size: 35px;
  }
}
.footer-wrap .theme-btn {
  background-color: #000;
  font-size: 22px;
  margin: 0px 0px 40px 0px;
}
.footer-wrap h4 {
  color: #cccccc;
  font-size: 30px;
  font-weight: 500;
  margin: 0px 0px 30px 0px;
}
.footer-wrap p {
  color: #cccccc;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2em;
}
.footer-wrap .footer_bottom {
  background-color: #000;
}
.footer-wrap .footer_bottom p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #cccccc;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}